* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    color: #222;
    font-size: 13px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 15px;
}

li {
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    align-content: center;
    padding: 15px;
}

.google-logo {
    margin: 0 auto;
    width: 580px;
    padding: 15px;
  
}

.google-logo img {
    margin-left: 145px;

}

.form-input {
    margin: 0 auto;
    height: 110px;
    width: 633px;
}

form {
    display: flex;
    flex-direction: column;

}


input{
    margin-top: 5px;
    margin-left: 10%;

    border: none;
    padding: 10px;
    height: 38px;
    border-radius: 25px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9;
    box-shadow: 0 1px 1px rgba(141, 140, 140, 0.4);
    font-size: 18px;
    padding: 0 16px;
    height:36px;

}

.form-div-btn {
    margin-left: 30%;
}

button {
    margin-top: 25px;
    margin-right: 10px;
    background-color:rgba(195, 195, 195, 0.3) ;
    color: rgb(118,118,118);
    border: none;
    padding: 13px;
    border-radius: 5px;
}

button:hover {
    border: 1px solid #a0a0a0;
    box-shadow: 0 1px 1px rgba(141, 140, 140, 0.4);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-1 {
    color: #b9b9b9;
    background-color: #f2f2f2;
    margin: 0;
    padding:15px;
}

.footer-2 {
    color: #a0a0a0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #a0a0a0;
    background-color: #f2f2f2;

}